html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--lt-color-gray-300);
}

ion-header {
    position: sticky;
    top: 0;
    z-index: 10;
}